@model MyGraduationProject.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsersAdress.STREET_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersAdress.STREET_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SURNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SURNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
