@model IEnumerable<MyGraduationProject.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LOGIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SURNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsersAdress.STREET_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsersAdress.STREET_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsersAdress.POSSESION_NUMBER)
        </th>
        <th>
            ROLA
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LOGIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SURNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsersAdress.STREET_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsersAdress.STREET_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsersAdress.POSSESION_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.NAME)
        </td>
        <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.USER_ID })<br/>
                        @Html.ActionLink("Details", "Details", new { id = item.USER_ID })<br/>
                        @Html.ActionLink("Delete", "Delete", new { id = item.USER_ID })
        </td>
    </tr>
}
</table>
