@model DatabaseAccess.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Detale</h2>
    <div class="smallContainer">
        <hr />
        <h4>dane rezerwacji</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RESERVATION_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RESERVATION_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DATE_FROM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DATE_FROM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DATE_TO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DATE_TO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ORDER_DATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ORDER_DATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OVERALL_PRICE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OVERALL_PRICE)
            </dd>
        </dl>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.RESERVATION_ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.STATUS_ID, "STATUS", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("STATUS_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.STATUS_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <hr />
        <h4>dane użytkownika</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.USER_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USER_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.LOGIN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.LOGIN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.SURNAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.SURNAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.UsersAdress.STREET_NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UsersAdress.STREET_NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.UsersAdress.STREET_NUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UsersAdress.STREET_NUMBER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.UsersAdress.POSSESION_NUMBER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UsersAdress.POSSESION_NUMBER)
            </dd>
        </dl>

        <hr />
        <h4>dane produktu</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Item.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Item.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Item.DESCRPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Item.DESCRPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Item.PRICE_PER_DAY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Item.PRICE_PER_DAY)
            </dd>
            <dt>
                STATE_NAME
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Item.State.STATE_NAME)
            </dd>
        </dl>

        <a href="@Html.DisplayFor(model => model.Item.PHOTO)" target="_blank">
            <img src="@Html.DisplayFor(model => model.Item.PHOTO)" width="500" style="border:1px solid white; border-radius: 10px 10px 0px 0px" />
        </a>
    </div>
</div>