@model IEnumerable<DatabaseAccess.Property>

@{
    ViewBag.Title = "ListOfProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Kliknij w nazwę właściwości aby zarządzać jej wartościami</h5>
<div class="box">
    <table class="table table-hover table-striped table-condensed table-bordered">
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.PROPERTY_ID)
                </td>
                <td>
                    @Html.ActionLink(@i.NAME, "ValuesOfProperty", new { id = i.PROPERTY_ID })
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditProperty", new { id = i.PROPERTY_ID })
                </td>
                <td>
                    @Html.ActionLink("Usuń", "DeleteProperty", new { id = i.PROPERTY_ID })
                </td>
            </tr>
        }
    </table>
    <div class="loginContainer">
        @using (Html.BeginForm())
        {
            @Html.TextBox("newProp")
            <br/>
            <input type="submit" value="Dodaj nową właściwość" class="btn btn-default" />
        }
    </div>
</div>