@{
    ViewBag.Title = "Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="properties">
        <table align="center">
            <thead>
                <th>OPCJE</th>
            </thead>
            <tr>
                <td>@Html.ActionLink("Stwórz Użytkownika", "Create", "Admins")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Lista Użytkowników", "Index", "Admins")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Dodaj Produkt", "CreateItem", "Admins")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Lista Produktów", "ListOfItems", "Admins")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Lista Zamówień", "ListOfReservations", "Admins")</td>
            </tr>
        </table>
    </div>
</div>

