<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href='https://fonts.googleapis.com/css?family=Righteous|Russo+One|Archivo+Black|Shadows+Into+Light+Two|Audiowide|Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Michał Graczyk - Projekt Dyplomowy</title>
    <link href="~/Content/fullcalendar.print.css" media="print" rel="stylesheet" />

    <meta name="description" content="Opis w Google" />
    <meta name="keywords" content="słowa, kluczowe, wypisane, po, porzecinku" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="wrapper">
        <div class="header">
            Internetowy system wypożyczania przedmiotów
        </div>
        <div class="navigation">
            <ol>
                <li>@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                @if (ViewBag.Auth != null && ViewBag.Auth.ROLE_ID == 2)
                {
                    <li>@Html.ActionLink("Profil", "Index", "Client")</li>
                }
                else
                {
                    <li>@Html.ActionLink("O nas", "About", "Home")</li>
                }

                <li>@Html.ActionLink("Asortyment", "Assortment", "Home")</li>

                @if (ViewBag.Auth != null)
                {
                    <li>@Html.ActionLink("Wyloguj", "Logout", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Zaloguj", "Login", "Home")</li>
                }

                @if (ViewBag.Auth != null && ViewBag.Auth.ROLE_ID == 1)
                {
                    <li>
                        <a href="#">Opcje</a>
                        <ul>
                            <li>@Html.ActionLink("Stwórz Użytkownika", "Create", "Admins")</li>
                            <li>@Html.ActionLink("Lista Użytkowników", "Index", "Admins")</li>
                            <li>@Html.ActionLink("Dodaj Produkt", "CreateItem", "Admins")</li>
                            <li>@Html.ActionLink("Lista Produktów", "ListOfItems", "Admins")</li>
                            <li>@Html.ActionLink("Właściwości Produktów", "ListOfProperties", "Admins")</li>
                            <li>@Html.ActionLink("Lista Zamówień", "ListOfReservations", "Admins")</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                }

            </ol>
        </div>
            @RenderBody()   
        <div class="socialmedia">
            <div class="socCenter">
                <a href="http://facebook.com" target="_blank" class="soc">
                    <div class="fb"><i class="icon-facebook"></i></div>
                </a>

                <a href="http://youtube.com" target="_blank" class="soc">
                    <div class="yt"><i class="icon-youtube"></i></div>
                </a>

                <a href="http://twitter.com" target="_blank" class="soc">
                    <div class="tw"><i class="icon-twitter"></i></div>
                </a>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="footer">
            <span style="color:white">Michał Graczyk - Projekt Dyplomowy &copy; 2016</span>
        </div>
    </div>
   
    @RenderSection("scripts", required: false) 
</body>
</html>