@model MyGraduationProject.Models.ajaksK
@{
    ViewBag.Title = "ajaks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlCategory").change(function () {
            var categoryId = $("#ddlCategory").val();
            console.log(categoryId);
            $("#dvCategoryResults").load('@(Url.Action("GetCategoryProducts","Home",null, Request.Url.Scheme))?categoryId=' + categoryId);
        });
    });
</script>  

<h2>ajaks</h2>

<div class="box">
    <div class="loginContainer">
   @*  @using (Ajax.BeginForm("test", "Home", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "relod" }))
    { *@
        <label for="ddlCategory"><strong>Select a category</strong></label>
       @* @Html.DropDownListFor(m => m.CategoryId,
    new SelectList(Model.CategoryList, "CategoryId", "CategoryName", Model.CategoryId), new { id = "ddlCategory", @class = "test" }) *@
        @Html.DropDownListFor(m => m.properties,
        new SelectList(Model.properties, "PROPERTY_ID", "NAME"), new { id = "ddlCategory", @class = "form-control" })
        @*
        @Html.DropDownList("id", new SelectList(Model.properties, "PROPERTY_ID", "NAME"), htmlAttributes: new { @class = "form-control" })*@
        <hr />
        <div id="dvCategoryResults">
            @{Html.RenderPartial("_ajaks", Model.pValues);}
        </div>
       @* <input type="submit" value="Jebnij" class="btn btn-default" />
    }*@
        
        @*
        @using (Ajax.BeginForm("Ajaaaks","Home", new AjaxOptions { HttpMethod = "Post"}))
        @Html.DropDownListFor(x => x.name, new SelectList(ViewBag.props, "PROPERTY_ID", "NAME"))
        @Html.DropDownList("ROLE_ID", null, htmlAttributes: new { @class = "form-control" })
        <button type="submit" id="findButton">find</button>
        <input type = "submit" value = "POST" class="btn btn-default" />*@
    </div>
</div>
