@model PagedList.IPagedList<DatabaseAccess.Item>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Assortment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<span style="color:#1e1e1e; font-size:15px">
    Kliknij w zdjęcie aby zobaczyć harmonogram wypożyczeń danego produktu
</span>
<div class="move">
        
            <ol>
                <li>
                    <span style="font-size:25px; font-family: 'Righteous', cursive;">SORTUJ:</span>
                </li>

                <li>
                        @Html.ActionLink("NAME", "Assortment", new { sorting = ViewBag.SortByNAME, filtrationNAME = ViewBag.FindNAME, dateTo = ViewBag.DateTo, dateFrom = ViewBag.DateFrom })
                </li>

                <li>
                        @Html.ActionLink("PRICE_PER_DAY", "Assortment", new { sorting = ViewBag.SortByPRICE_PER_DAY, filtrationNAME = ViewBag.FindNAME, dateTo = ViewBag.DateTo, dateFrom = ViewBag.DateFrom })
                </li>

                <li>
                    <hr />
                </li>

                <li>
                    <span style="font-size:25px; font-family: 'Righteous', cursive;">FILTRUJ:</span>
                </li>
@using (Html.BeginForm())
{
                <li>
                    Nazwa:
                </li>

                <li>
                    @Html.TextBox("filtrationNAME")
                </li>

                <li>
                    Data rozpoczęcia zamówienia:
                </li>

                <li>
                    @Html.TextBox("dateFrom")
                </li>

                <li>
                    <span style="color:#363636; font-size:10px;">(DD/MM/YYYY)</span>
                </li>

                <li>
                    Data zakończenia zamówienia:
                </li>

                <li>
                    @Html.TextBox("dateTo")
                </li>

                <li>
                    <span style="color:#363636; font-size:10px;">(DD/MM/YYYY)</span>
                </li>

                <li>
                    <input type="submit" value="Filtruj" class="btn btn-default" />
                </li>
}
            </ol>       
</div>

<div class="allOfItemsContainer">
    @foreach (var i in Model)
    {
        <div class="itemContainer">
            <div class="leftHalfOfItem">
                <span style="font-family: 'Archivo Black', sans-serif; color: #313131">
                    @Html.DisplayNameFor(model => model.First().NAME)
                    :
                </span>
                @Html.DisplayFor(modelItem => i.NAME)
            </div>

            <div class="rightHalfOfItem">
                <span style="font-family: 'Archivo Black', sans-serif; color: #313131">
                    @Html.DisplayNameFor(model => model.First().PRICE_PER_DAY)
                    :
                </span>
                @Html.DisplayFor(modelItem => i.PRICE_PER_DAY)
            </div>

            <div class="photoOfItem">
                <a href="@Url.Action("CalendarOfItem", "Home", new { id = i.ITEM_ID })">
                    <img src="@Html.DisplayFor(modelItem => i.PHOTO)" />
                </a>
            </div>
            @*
    <div class="descriptionOfItem">
        <span style="font-family: 'Archivo Black', sans-serif; color: #313131">
            @Html.DisplayNameFor(model => model.First().DESCRPTION)
        </span>
        <br />
        @Html.DisplayFor(modelItem => i.DESCRPTION)
    </div>*@
        </div>
    }
</div>
<div style="clear:both;"></div>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Assortment",
                    new { sorting = ViewBag.SortedBy, filtrationNAME = ViewBag.FindNAME, page, dateTo = ViewBag.DateTo, dateFrom = ViewBag.DateFrom }))
