@model MyGraduationProject.Models.AssortmentContainer

@{
    ViewBag.Title = "Assortment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlProperties").change(function () {
            var propertyId = $("#ddlProperties").val();
            console.log(propertyId);
            $("#dvPropertiesResults").load('@(Url.Action("_PartialBrowser", "Home",null, Request.Url.Scheme))?propertyId=' + propertyId);
        });
    });
</script>

<script type="text/javascript">
  $(function(){
      $('#dPicker').datepicker({
      dateFormat: 'dd/mm/yy',
      inline: true,
      showOtherMonths: true,
      dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    });
      $('#dPickerr').datepicker({
        dateFormat: 'dd/mm/yy',
        inline: true,
        showOtherMonths: true,
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    });
  });
</script>

<br />
<span style="color:#1e1e1e; font-size:15px">
    Kliknij w zdjęcie aby zobaczyć harmonogram wypożyczeń danego produktu
</span>
<div class="move">
        
            <ol>
                <li>
                    <span style="font-size:25px; font-family: 'Righteous', cursive;">SORTUJ:</span>
                </li>

                <li>
                        @Html.ActionLink("NAME", "Assortment", new { sorting = ViewBag.SortByNAME, filtrationNAME = ViewBag.FindNAME, dateTo = ViewBag.DateT, dateFrom = ViewBag.DateF, VAL_ID = ViewBag.VAL_ID })
                </li>
                
                <li>
                        @Html.ActionLink("PRICE_PER_DAY", "Assortment", new { sorting = ViewBag.SortByPRICE_PER_DAY, filtrationNAME = ViewBag.FindNAME, dateTo = ViewBag.DateT, dateFrom = ViewBag.DateF, VAL_ID = ViewBag.VAL_ID })
                </li>

                <li>
                    <hr />
                </li>

                <li>
                    <span style="font-size:25px; font-family: 'Righteous', cursive;">FILTRUJ:</span>
                </li>
@using (Html.BeginForm())
{
                <li>
                    Nazwa:
                </li>

                <li>
                    @Html.TextBox("filtrationNAME")
                </li>

                <li>
                    Data rozpoczęcia zamówienia:
                </li>

                <li>
                    @Html.TextBox("dateFrom", null, new { id = "dPicker" })
                </li>

                <li>
                    <span style="color:#363636; font-size:10px;">(DD/MM/YYYY)</span>
                </li>

                <li>
                    Data zakończenia zamówienia:
                </li>

                <li>
                    @Html.TextBox("dateTo", null,  new { id = "dPickerr" })
                </li>

                <li>
                    <span style="color:#363636; font-size:10px;">(DD/MM/YYYY)</span>
                </li>

                <li>
                    <div style="width:160px;">
                        @Html.DropDownListFor(m => m.properties,
                        new SelectList(Model.properties, "PROPERTY_ID", "NAME"), new { id = "ddlProperties", @class = "form-control" })
                        <br />
                    </div>
                 </li>

                <li>
                    <div id="dvPropertiesResults" style="width:160px;">
                        @{Html.RenderPartial("_PartialBrowser", Model.pValues);}
                    </div>
                </li>

                <li>
                    <input type="submit" value="Filtruj" class="btn btn-default" />
                </li>
}
            </ol>       
</div>

<div class="allOfItemsContainer box">
    @foreach (var i in Model.items)
    {
        <div class="itemContainer">
            <div class="leftHalfOfItem">
                <span style="font-family: 'Archivo Black', sans-serif; color: #313131">
                    @Html.DisplayNameFor(model => model.items.First().NAME)
                    :
                </span>
                @Html.DisplayFor(modelItem => i.NAME)
            </div>

            <div class="rightHalfOfItem">
                <span style="font-family: 'Archivo Black', sans-serif; color: #313131">
                    @Html.DisplayNameFor(model => model.items.First().PRICE_PER_DAY)
                    :
                </span>
                @Html.DisplayFor(modelItem => i.PRICE_PER_DAY)
            </div>

            <div class="photoOfItem">
                <a href="@Url.Action("CalendarOfItem", "Home", new { id = i.ITEM_ID })">
                    <img src="@Html.DisplayFor(modelItem => i.PHOTO)" />
                </a>
            </div>
        </div>
    }
</div>
<div style="clear:both;"></div>